:root{
--white:255,255,255;
--black:33,33,33;
--yellow:251, 255, 42;
--trigger:15,76,129;
--body-bg: 'https://visualhunt.com/photos/1/people-raising-hands-at-rock-concert-with-artificial-fog-on-stage.jpg';
--darkGradient:linear-gradient(to right, rgba(var(--black),0.75) 0%,rgba(var(--black),0.75) 100%);
--twilight:linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
--radius :10px;

}

body{
    width:100%;
    height:100vh;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('https://visualhunt.com/photos/1/people-raising-hands-at-rock-concert-with-artificial-fog-on-stage.jpg');
    background-size:cover;
    background-attachment:fixed;
    font-family: "Ubuntu",'Lato';
}

.debeug{
    outline:2px dotted coral;
}

.keys{
    width:90%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.key {
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    color:rgba(var(--white));
    padding:1rem;
    min-width:100px;
    background:var(--darkGradient);
    border-radius:var(--radius);
    box-shadow: 0 0 0 4px rgba(var(--trigger),0.98);
    will-change: transform;
    transition: all 0.15s ease-in-out;
}
.sound{
    text-transform: uppercase;
    color:rgba(var(--yellow));
    margin-top:0.55rem;
}

.playing{
    animation: scaleSound 0.18s ease-in-out 1 alternate ;
}

@keyframes scaleSound {

    from {
        transform:scale(1);
    }
    to {

        transform:scale(1.22);
        box-shadow: 0 0 8px rgba(var(--yellow),0.86);
    } 

}

/* RESPONSIVE */
@media all and (max-width:1000px){

    .keys {
        flex-direction:column;
    }
    .key {
        margin:2vh 0;
    }
}